<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700291601159-1upjd1cqitujs9tnk26ltfhir639k77g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700291601159-1upjd1cqitujs9tnk26ltfhir639k77g</string>
	<key>API_KEY</key>
	<string>AIzaSyCsvE8XER-hGKOftkTO6B5qGHTfI5vG-ik</string>
	<key>GCM_SENDER_ID</key>
	<string>700291601159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ombhrum.fabushi</string>
	<key>PROJECT_ID</key>
	<string>quanqiubushi</string>
	<key>STORAGE_BUCKET</key>
	<string>quanqiubushi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700291601159:ios:a37861f095a35c41622ba2</string>
</dict>
</plist>